#div1
{
background-color: brown;
color: chartreuse;
}
body{
    background-color: rgb(126, 91, 91);
}
#butdiv2{
    margin-left: 5%;
    border: none;
    padding: 0.1% 5px;
    text-align: center;
    display: inline-block;
    font-size: 120%;
    transition-duration: 0.4s;
    /* position:fixed; */
    /* line-height: 150%; */
    top: 55%;
      

}
#butdiv2:hover {
    padding-left: 1%;
    padding-right: 1%;
    background-color: #4CAF50; /* Green */
    color: white;
    
  }

  
#div3{
    margin-right: 75%;
    position: relative;
    size: 5px;
    border-style: solid;
}
#div4
{
    position: absolute;
    font-family: fantasy;
}
#divmail {
    position:fixed;
    line-height: 150%;
    top: 2%;

}
#alogin{
    position:fixed;
    color: green;
    margin-right: 5px;
    font-size: 150%;
    right: 20%;
    }

#aregistr {
    position:fixed;
    color: red;
    margin-left: 50px;
    right: 10%;
    font-size: 150%;
}

#aregistr:hover{
    font-size: 165%;
}
#alogin:hover{
    font-size: 165%;
}
/* .a{
    margin-right: 50px;
    text-align: center;
} */
#icon {
    position: fixed;
    display: block;
    top: 1%;
    width: 2%;
  }
