#butdiv2{
    margin-left: 5%;
    margin-top: 1%;
    border: none;
    padding: 0.1% 5px;
    text-align: center;
    display: inline-block;
    font-size: 120%;
    transition-duration: 0.4s;
}
#butdiv2:hover {
    padding-left: 1%;
    padding-right: 1%;
    background-color: #4CAF50; /* Green */
    color: white;
    
  }
#divmail {
    position:fixed;
    line-height: 150%;
    top: 1.52%;

}
#alogin{
    position:fixed;
    color: green;
    margin-right: 5px;
    font-size: 150%;
    right: 20%;
    }

#aregistr {
    position:fixed;
    color: red;
    margin-left: 50px;
    right: 10%;
    font-size: 150%;
}

#aregistr:hover{
    font-size: 165%;
}
#alogin:hover{
    font-size: 165%;
}
#icon {
    position: fixed;
    display: block;
    top: 2.1%;
    left: 1%;
    width: 2.5%;
  }
